In [127]:
import pandas as pd 
import numpy as np 
import os

## Find the summary statistics for any two continuous variables of the moviedata.

In [128]:
os.getcwd()

'C:\\Users\\esnod\\OneDrive\\Desktop\\DS 435'

In [129]:
os.chdir('C:/Users/esnod/OneDrive/Desktop/DS 435')

In [130]:
df = pd.read_csv('moviedata.csv')
print(df.head(10))
print(np.shape(df))

   Ranking  Time   TOW    GT    OT    MT  Amount      Type
0        7   156   8.8  29.3  1241  1607     NaN    comedy
1        7   113  14.3  39.0  1410  1451     NaN     drama
2        8    73  14.0  25.0  1733  1736     NaN  thriller
3        8    86  10.6  29.5  1838  1891     NaN    comedy
4        7   149  17.8  49.5  1825  1944    15.0    family
5        5    91  11.6  37.8  2053  2060     NaN  thriller
6        8   157  13.5  44.0  2017  2063     NaN    comedy
7        8   133  14.4  68.8  2216  2231    51.0  thriller
8        9   153  15.0  39.6  2172  2193     NaN    comedy
9        5   161  16.5  66.6  2133  2133    24.0    action
(217, 8)

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ranking  217 non-null    int64
 1   Time     217 non-null    int64
 2   TOW      217 non-null    float64
 3   GT       217 non-null    float64
 4   OT       217 non-null    int64
 5   MT       217 non-null    int64
 6   Amount   185 non-null    float64
 7   Type     217 non-null    object
dtypes: float64(3), int64(4), object(1)
memory usage: 13.7+ KB

In [132]:
selected_var = ["TOW", "GT"]
df[selected_var].describe()

              TOW          GT
count  217.000000  217.000000
mean    24.082488  100.217972
std     13.756452   70.210334
min      5.200000   23.100000
25%     14.700000   55.900000
50%     20.400000   79.100000
75%     29.300000  132.100000
max     98.700000  600.800000

## Find the standard deviation of ‘Time’ variable for each category of the ‘Type’ variable in moviedata.

In [133]:
import statistics as ss
df1 = df.groupby('Type')
df1['Time'].agg([ss.stdev])

              stdev
Type
action    37.060474
animated  53.401599
comedy    33.752255
drama     54.602732
family    45.210618
scifi     48.811030
thriller  50.976592

### Alternatives

In [134]:
def test(df):
    standard_dev = ss.stdev(df.Time)
    return standard_dev
print(df1.apply(test))

Type
action      37.060474
animated    53.401599
comedy      33.752255
drama       54.602732
family      45.210618
scifi       48.811030
thriller    50.976592
dtype: float64

In [135]:
ds = [rows for _, rows in df.groupby('Type')]
datalist = []
for i in range(len(ds)):
    datalist.append(pd.DataFrame({
        "Types" : ds[i].Type.unique(),
        "standard_dev" : [ss.stdev(ds[i].Time)],
    }))
y = pd.concat(datalist)
print(y)

      Types  standard_dev
0    action     37.060474
0  animated     53.401599
0    comedy     33.752255
0     drama     54.602732
0    family     45.210618
0     scifi     48.811030
0  thriller     50.976592

## Now filter the df data to only include action movies

In [136]:
df[df["Type"] == "action"]

     Ranking  Time   TOW     GT    OT    MT  Amount    Type
9          5   161  16.5   66.6  2133  2133    24.0  action
12         7   147  23.2  101.0  2526  2580    91.0  action
13        12   109  17.9   80.6  2040  2042    77.0  action
15         8    91  56.8  188.0  2846  2897   104.0  action
20        12   132  28.2   95.2  2275  2427   182.0  action
23         6   148  25.3   72.4  2423  2632    22.0  action
31         7   196  27.2  107.4  2668  2668    61.0  action
34         6   156  14.1  103.5  2490  2533    68.0  action
35         8   119   9.4   68.4  1326  1705    61.0  action
39         9   130  20.6   75.6  2393  2397    70.0  action
44        12   117  18.1   74.8  2238  2295    61.0  action
48         7   169  43.0  243.9  2416  2810    94.0  action
49         7   156  57.8  182.0  3013  3013    76.0  action
50        10    94  19.0   55.4  2134  2197    61.0  action
51        10   163  28.1  137.1  2395  2429    78.0  action
52        13   118  31.6  108.3  2417  2563   107.0  action
54        10   174  55.2  311.2  2887  2982    80.0  action
64        10   109  14.1   38.4  2250  2409    70.0  action
74         8   106  13.4   34.0  2003  2007    57.0  action
76         7   127  20.5   69.2  2659  2763   106.0  action
81         5   112  17.3   62.3  2854  2501    71.0  action
83         4   105  15.6   48.5  2775  2778    91.0  action
84        10   152  98.7  235.1  3287  3571    79.0  action
88        10   136  27.4  116.2  2625  2855    84.0  action
89         6    99  44.9  109.3  2936  2944   112.0  action
90         9   128  27.1  104.1  2827  2944    78.0  action
92         7   197  39.1  174.6  2921  2983    87.0  action
115       10   102  21.9   62.4  2822  2822    65.0  action
116        6   154  18.3   58.0  3102  3102    36.0  action
121       13   147  49.2  148.5  3164  3288    83.0  action
122        5   129  57.7  138.2  3312  3312   127.0  action
127       12   318  34.6  220.3  2467  2811    74.0  action
128        4   164  38.1  203.6  3129  3186   142.0  action
141       12   159  26.0  117.5  2399  2523    96.0  action
148        8   162  23.2   83.5  2722  2857    83.0  action
156       10   157  24.1   91.7  2819  2873   125.5  action
157       12   138  49.4  161.4  3215  3417   252.5  action
170       11   123  24.2   73.2  2740  2740    48.0  action
172       10   141  17.8   62.7  2944  2944    49.1  action
175       13   166  41.5  132.9  3169  3169   231.1  action
189        6    95  21.0   59.0  2644  2644    28.0  action
191        4   118  19.5   79.1  2583  2820    62.0  action
193        8   171  38.8  191.7  2942  3192   107.0  action
195       11   153  75.8  220.4  3658  3674   130.0  action
197        9   116  25.4  116.3  3064  3064   113.0  action
198        9   162  43.3  184.6  3409  3409   122.0  action
200        9   136  58.5  161.3  3029  3116    79.0  action
211        4   119  41.1  126.3  3038  3038    93.0  action
214       12   178  11.6  132.1    20  2031    19.0  action

### Now filter the df data to only include action movies and moves with a time greater than 250

In [137]:
df[(df["Type"] == "action") & (df["Time"] > 250)]

     Ranking  Time   TOW     GT    OT    MT  Amount    Type
127       12   318  34.6  220.3  2467  2811    74.0  action

## Repeat the one above and but have it be 'or' statement instead of 'and' statement

In [138]:
df[(df['Type'] == "action") | (df["Time"] > 250)]

     Ranking  Time   TOW     GT    OT    MT  Amount      Type
9          5   161  16.5   66.6  2133  2133    24.0    action
12         7   147  23.2  101.0  2526  2580    91.0    action
13        12   109  17.9   80.6  2040  2042    77.0    action
15         8    91  56.8  188.0  2846  2897   104.0    action
20        12   132  28.2   95.2  2275  2427   182.0    action
21        12   264  14.7   69.7  1597  1796    36.0    family
23         6   148  25.3   72.4  2423  2632    22.0    action
31         7   196  27.2  107.4  2668  2668    61.0    action
32        12   286  34.1  196.8  2462  2579    35.0  animated
34         6   156  14.1  103.5  2490  2533    68.0    action
35         8   119   9.4   68.4  1326  1705    61.0    action
39         9   130  20.6   75.6  2393  2397    70.0    action
44        12   117  18.1   74.8  2238  2295    61.0    action
48         7   169  43.0  243.9  2416  2810    94.0    action
49         7   156  57.8  182.0  3013  3013    76.0    action
50        10    94  19.0   55.4  2134  2197    61.0    action
51        10   163  28.1  137.1  2395  2429    78.0    action
52        13   118  31.6  108.3  2417  2563   107.0    action
54        10   174  55.2  311.2  2887  2982    80.0    action
64        10   109  14.1   38.4  2250  2409    70.0    action
74         8   106  13.4   34.0  2003  2007    57.0    action
76         7   127  20.5   69.2  2659  2763   106.0    action
81         5   112  17.3   62.3  2854  2501    71.0    action
83         4   105  15.6   48.5  2775  2778    91.0    action
84        10   152  98.7  235.1  3287  3571    79.0    action
88        10   136  27.4  116.2  2625  2855    84.0    action
89         6    99  44.9  109.3  2936  2944   112.0    action
90         9   128  27.1  104.1  2827  2944    78.0    action
92         7   197  39.1  174.6  2921  2983    87.0    action
97        15   258  12.2   71.6   776  1632    42.0     drama
106        8   286  28.6  600.8  2674  3265   200.0     drama
115       10   102  21.9   62.4  2822  2822    65.0    action
116        6   154  18.3   58.0  3102  3102    36.0    action
121       13   147  49.2  148.5  3164  3288    83.0    action
122        5   129  57.7  138.2  3312  3312   127.0    action
127       12   318  34.6  220.3  2467  2811    74.0    action
128        4   164  38.1  203.6  3129  3186   142.0    action
129       10   257  17.7  180.5  2190  2559    27.0    comedy
137       10   254   5.4   60.2     9  1139     NaN     drama
141       12   159  26.0  117.5  2399  2523    96.0    action
148        8   162  23.2   83.5  2722  2857    83.0    action
156       10   157  24.1   91.7  2819  2873   125.5    action
157       12   138  49.4  161.4  3215  3417   252.5    action
158        9   262  66.8  433.1  2972  3128   493.5     scifi
161       13   257  39.2  176.1  3010  3136   269.2  animated
167       12   292  32.7  299.5  2167  2827   373.2  thriller
169       12   271   9.9  134.1    20  1994   222.0     drama
170       11   123  24.2   73.2  2740  2740    48.0    action
172       10   141  17.8   62.7  2944  2944    49.1    action
175       13   166  41.5  132.9  3169  3169   231.1    action
189        6    95  21.0   59.0  2644  2644    28.0    action
191        4   118  19.5   79.1  2583  2820    62.0    action
193        8   171  38.8  191.7  2942  3192   107.0    action
195       11   153  75.8  220.4  3658  3674   130.0    action
197        9   116  25.4  116.3  3064  3064   113.0    action
198        9   162  43.3  184.6  3409  3409   122.0    action
200        9   136  58.5  161.3  3029  3116    79.0    action
211        4   119  41.1  126.3  3038  3038    93.0    action
214       12   178  11.6  132.1    20  2031    19.0    action

## Now filter the df data to exclude action movies

In [139]:
df[df['Type'] != "action"]

     Ranking  Time   TOW     GT    OT    MT  Amount      Type
0          7   156   8.8   29.3  1241  1607     NaN    comedy
1          7   113  14.3   39.0  1410  1451     NaN     drama
2          8    73  14.0   25.0  1733  1736     NaN  thriller
3          8    86  10.6   29.5  1838  1891     NaN    comedy
4          7   149  17.8   49.5  1825  1944    15.0    family
..       ...   ...   ...    ...   ...   ...     ...       ...
210        6   120  15.1   39.9  2570  2573    50.0    comedy
212        7   107  58.1  263.0  3130  3259   120.0    family
213        8   150  32.3   97.0  2710  2710    67.0     drama
215       16   177  43.6  192.8  3022  3102    73.0    comedy
216       11   165  44.8  238.6  2779  3066    90.0     drama

[168 rows x 8 columns]

## Take this data and make a unique csv for each 'Type' of movie

In [140]:
unique = df["Type"].unique()
len(unique)

for i in unique:
    dfi = df[df['Type'] == i]
    file_name = "Movie_Type_" + str(i) + "_.csv"
    dfi.to_csv(file_name, index = True)
    print(dfi)

     Ranking  Time   TOW     GT    OT    MT  Amount    Type
0          7   156   8.8   29.3  1241  1607     NaN  comedy
3          8    86  10.6   29.5  1838  1891     NaN  comedy
6          8   157  13.5   44.0  2017  2063     NaN  comedy
8          9   153  15.0   39.6  2172  2193     NaN  comedy
19        10   133  18.5   75.7  1464  1801     NaN  comedy
24         5    92  11.0   38.5  1296  1491     NaN  comedy
27         9   148  14.7   74.0  1614  2105     NaN  comedy
30         7   143  41.8  112.4  2656  2709    34.0  comedy
33        11   138  17.1   82.6  1955  2067    36.0  comedy
40         4   105   9.5   39.6  2023  2070    11.0  comedy
43         6   167  18.3  124.1  1950  2285     NaN  comedy
45         9   146  14.3   39.7  1136  1136    13.0  comedy
47        10   114   9.8   37.1  1416  1657     NaN  comedy
53         7   154  26.4  129.8  2116  2240    55.0  comedy
58         9   173  17.2   64.6  1716  2238    51.0  comedy
60         7    58   9.0   24.2  2243  2245     NaN  comedy
62         7   142  21.9  108.5  1925  2409    29.0  comedy
78        10   213  35.4  185.4  2849  2913    49.0  comedy
79         9   188  19.8   66.9  2323  2347     NaN  comedy
86         8   141  11.5   55.8  2189  2189    19.0  comedy
93        12   175  22.1  111.2  2512  2622    61.0  comedy
98         8   137  20.0   68.8  1997  2457    26.0  comedy
103        5   158  29.7   96.0  2644  2682     NaN  comedy
109        9   103  16.5   35.3  2345  2345    31.0  comedy
112        4   183  20.9   82.2  2823  2839     NaN  comedy
124        6   181  29.0  144.1  2777  2871    71.0  comedy
129       10   257  17.7  180.5  2190  2559    27.0  comedy
133        9   163  36.0  144.2  2641  2727    38.0  comedy
134        8   148  14.7   43.6  2489  2489    57.0  comedy
140        7   172  44.4  166.5  2669  2787    28.0  comedy
147        7   155  18.1   65.3  2224  2656    41.1  comedy
151       11   158  23.4  111.9  2523  2542    75.0  comedy
152        6   122  17.5   57.0  2062  2339    37.8  comedy
154        9   150  14.8   58.5  2458  2503    27.8  comedy
155        9   135  23.4   67.1  2597  2616     NaN  comedy
159       10   143  31.7  120.1  2751  2790   242.8  comedy
160        6   105  58.4  206.4  3313  3315   105.3  comedy
162        5   133  43.5  165.5  3029  3256    72.1  comedy
163        7   112  19.7  102.8  2509  2545   100.5  comedy
165        5   168  36.1  153.1  3159  3241   130.5  comedy
168       11   115  22.1   70.5  2710  2736    29.3  comedy
183        7   130  17.5   60.2  1106  1423    13.0  comedy
185        5   148  16.3   62.0  2666  2719    15.0  comedy
186       10    94  17.7   61.3  2914  2914    28.0  comedy
196        7   178  28.7  120.6  2805  2857    33.0  comedy
199        9   142  45.3  160.0  2915  3304    22.0  comedy
204        9   137  22.4   73.4  2385  2840    15.0  comedy
208        8   176  30.6  168.2  2616  2699    55.0  comedy
210        6   120  15.1   39.9  2570  2573    50.0  comedy
215       16   177  43.6  192.8  3022  3102    73.0  comedy
     Ranking  Time   TOW     GT    OT    MT  Amount   Type
1          7   113  14.3   39.0  1410  1451     NaN  drama
11         8   176  11.3   83.0  1423  2088    19.0  drama
22         6   177  17.9   87.8  1351  1786     NaN  drama
25         9   134   8.2   23.1    12   956     NaN  drama
29        10   232   5.2   34.0     9  1312     6.0  drama
36         5   107  10.9   56.1  1531  1683     NaN  drama
37         7   198  12.3   85.6  1412  1662     NaN  drama
42        12   166  17.1   57.1  1512  1645    66.0  drama
46        11   143  13.9   60.1  1987  1987    34.0  drama
55        11   207  21.2  109.6  1642  2144    37.0  drama
56        13   134  21.8  115.8  2130  2320    47.0  drama
59        11   109  15.1   58.8  2017  2107    50.0  drama
61         8   133   5.7   25.5  1321  1402     NaN  drama
65         8    96  14.3   55.3  1917  2082    46.0  drama
69        10   213  21.1  157.9  2535  2535    54.0  drama
71         9   144  20.4   98.3  2144  2328     NaN  drama
87         9   212  24.7  129.8  2137  2236    49.0  drama
96        10   128  14.1   51.2  1948  2046    53.0  drama
97        15   258  12.2   71.6   776  1632    42.0  drama
101        6   126  13.2   62.0  2162  2405    58.0  drama
106        8   286  28.6  600.8  2674  3265   200.0  drama
107       10   188  16.6  151.7  1576  1841    54.0  drama
108       10   248  14.3  142.4    11  2207    14.0  drama
110       11    67  14.6   31.3  1872  1911     NaN  drama
111       10    60  14.1   29.3  2453  2453     NaN  drama
114       11    95   9.5   27.4  1540  1611    34.0  drama
117        8    97  12.0   39.0  1965  1976    65.0  drama
118       11   151  20.4   83.7  2217  2438    60.0  drama
123       10   157  17.7   79.4  2043  2366    64.0  drama
125       10   134  33.5  127.6  2317  2913    62.0  drama
137       10   254   5.4   60.2     9  1139     NaN  drama
138       14   104  22.8   62.4  2533  2538    92.0  drama
142        5   162  27.3  137.0  2714  2911    52.0  drama
143       10   136  22.4  119.8  2695  2780    69.0  drama
145        9   109  20.2   57.9  2126  2369     NaN  drama
146        7    79  10.3   25.4  1817  1841     NaN  drama
149        7    93  19.7   55.9  2541  2548    69.0  drama
150       12    89  20.2   42.3  2376  2376    54.8  drama
166        8   198  17.6   72.3  2430  2430    54.5  drama
169       12   271   9.9  134.1    20  1994   222.0  drama
173        6   134  13.0   39.0  1965  1968    73.0  drama
178       10   163  21.0  139.8  2878  2878   134.9  drama
188        9   151  33.1  130.6  2853  3270    56.0  drama
190       10   116  20.0   66.3  3160  3225    65.0  drama
205       10   199   8.9   34.5   133  2264    62.0  drama
207       11   172  25.9  120.6  1870  2808    35.0  drama
209        6   112  10.6   34.5  2131  2131    41.0  drama
213        8   150  32.3   97.0  2710  2710    67.0  drama
216       11   165  44.8  238.6  2779  3066    90.0  drama
     Ranking  Time   TOW     GT    OT    MT  Amount      Type
2          8    73  14.0   25.0  1733  1736     NaN  thriller
5          5    91  11.6   37.8  2053  2060     NaN  thriller
7          8   133  14.4   68.8  2216  2231    51.0  thriller
26        10   233  16.9  103.1  2444  2531    33.0  thriller
28        12    95  10.2   37.0  1395  1666    25.0  thriller
38         5    34  11.2   26.7  2005  2008    21.0  thriller
63         7   129  13.2   42.6  2146  2206    59.0  thriller
66        11   165  39.2  141.5  2681  2773    85.0  thriller
70         7   224   7.3  104.0  1414  1995    16.0  thriller
73         9   128  12.1   36.9  2098  2131    63.0  thriller
77        12   137  21.8   55.1  2573  2573    55.0  thriller
82        11   143  20.6   69.5  2460  2460    39.0  thriller
94         8   121  22.3   79.1  2809  2809    78.0  thriller
99        13   110  20.3   54.3  2409  2527    56.0  thriller
100        3   182  16.8   73.2  2525  2525    18.0  thriller
102        9   148  15.2   62.5  2273  2408    29.0  thriller
120        8   101  14.1   37.0  2390  2403    64.0  thriller
130       10   129  21.1   74.0  2326  2393    49.0  thriller
131        3    77  17.3   56.0  2714  2719    74.0  thriller
132        7   123  19.2   58.0  2610  2672    20.0  thriller
135        8   129  14.5   42.1  2261  2261    18.0  thriller
164       10   122  31.2  142.5    29  2540   102.0  thriller
167       12   292  32.7  299.5  2167  2827   373.2  thriller
171        5   181  23.2  116.7  2547  3002    61.1  thriller
174        7    86  18.9   43.8  2713  2713     NaN  thriller
177        8   175  31.1  102.0  3065  3070   102.1  thriller
180       12   128  16.7   85.3  2311  2373    47.4  thriller
184        9   144  39.6   94.1  3472  3472    45.0  thriller
192       10   142  12.0   48.0  2624  2634    34.0  thriller
201        6   169  31.7  157.4  2579  2927    92.0  thriller
206       11    94  12.2   43.6   668  1712     NaN  thriller
     Ranking  Time   TOW     GT    OT    MT  Amount    Type
4          7   149  17.8   49.5  1825  1944    15.0  family
14         8   127  24.1  102.3  2716  2759    57.0  family
21        12   264  14.7   69.7  1597  1796    36.0  family
41         8   156  10.9   37.3  2073  2073     NaN  family
57        12   131  14.2   39.1  1981  2012    42.0  family
68         5   160  33.5  136.2  2794  2901    45.0  family
179       11   142  22.0  147.0  2885  3158   161.0  family
182       10   180   9.9   38.1    13  2335    11.0  family
212        7   107  58.1  263.0  3130  3259   120.0  family
     Ranking  Time   TOW     GT    OT    MT  Amount    Type
9          5   161  16.5   66.6  2133  2133    24.0  action
12         7   147  23.2  101.0  2526  2580    91.0  action
13        12   109  17.9   80.6  2040  2042    77.0  action
15         8    91  56.8  188.0  2846  2897   104.0  action
20        12   132  28.2   95.2  2275  2427   182.0  action
23         6   148  25.3   72.4  2423  2632    22.0  action
31         7   196  27.2  107.4  2668  2668    61.0  action
34         6   156  14.1  103.5  2490  2533    68.0  action
35         8   119   9.4   68.4  1326  1705    61.0  action
39         9   130  20.6   75.6  2393  2397    70.0  action
44        12   117  18.1   74.8  2238  2295    61.0  action
48         7   169  43.0  243.9  2416  2810    94.0  action
49         7   156  57.8  182.0  3013  3013    76.0  action
50        10    94  19.0   55.4  2134  2197    61.0  action
51        10   163  28.1  137.1  2395  2429    78.0  action
52        13   118  31.6  108.3  2417  2563   107.0  action
54        10   174  55.2  311.2  2887  2982    80.0  action
64        10   109  14.1   38.4  2250  2409    70.0  action
74         8   106  13.4   34.0  2003  2007    57.0  action
76         7   127  20.5   69.2  2659  2763   106.0  action
81         5   112  17.3   62.3  2854  2501    71.0  action
83         4   105  15.6   48.5  2775  2778    91.0  action
84        10   152  98.7  235.1  3287  3571    79.0  action
88        10   136  27.4  116.2  2625  2855    84.0  action
89         6    99  44.9  109.3  2936  2944   112.0  action
90         9   128  27.1  104.1  2827  2944    78.0  action
92         7   197  39.1  174.6  2921  2983    87.0  action
115       10   102  21.9   62.4  2822  2822    65.0  action
116        6   154  18.3   58.0  3102  3102    36.0  action
121       13   147  49.2  148.5  3164  3288    83.0  action
122        5   129  57.7  138.2  3312  3312   127.0  action
127       12   318  34.6  220.3  2467  2811    74.0  action
128        4   164  38.1  203.6  3129  3186   142.0  action
141       12   159  26.0  117.5  2399  2523    96.0  action
148        8   162  23.2   83.5  2722  2857    83.0  action
156       10   157  24.1   91.7  2819  2873   125.5  action
157       12   138  49.4  161.4  3215  3417   252.5  action
170       11   123  24.2   73.2  2740  2740    48.0  action
172       10   141  17.8   62.7  2944  2944    49.1  action
175       13   166  41.5  132.9  3169  3169   231.1  action
189        6    95  21.0   59.0  2644  2644    28.0  action
191        4   118  19.5   79.1  2583  2820    62.0  action
193        8   171  38.8  191.7  2942  3192   107.0  action
195       11   153  75.8  220.4  3658  3674   130.0  action
197        9   116  25.4  116.3  3064  3064   113.0  action
198        9   162  43.3  184.6  3409  3409   122.0  action
200        9   136  58.5  161.3  3029  3116    79.0  action
211        4   119  41.1  126.3  3038  3038    93.0  action
214       12   178  11.6  132.1    20  2031    19.0  action
     Ranking  Time   TOW     GT    OT    MT  Amount      Type
10         7   140   7.1   36.3  2160  2177     NaN  animated
16        10   213  33.5  145.6  2761  2761    59.0  animated
32        12   286  34.1  196.8  2462  2579    35.0  animated
95         8   126  22.2   56.0  2537  2605    41.0  animated
104        8   168  15.1   59.4     2  2512    54.0  animated
126       10   177  25.7  123.6  2891  2956    73.0  animated
136       11   143  21.2   94.7  2453  2933    64.0  animated
139        8   182  34.3  163.8     2  2774    46.0  animated
144       11   157  18.5  105.3  3122  3222    64.0  animated
161       13   257  39.2  176.1  3010  3136   269.2  animated
176        8   245  58.4  246.8  3258  3258   240.9  animated
181        8   122   7.2   51.5    56    56    82.0  animated
194        8   232  40.8  139.7  3259  3321   202.0  animated
     Ranking  Time   TOW     GT    OT    MT  Amount   Type
17        12   157  29.3  176.1  2201  2351    66.0  scifi
18         7   121  20.2   63.1  2313  2313    38.0  scifi
67         9   120  32.7   94.0  2814  2814    47.0  scifi
72        12   101  39.9  142.2  2108  2379    14.0  scifi
75        10    85  24.0   69.5  2113  2324    20.0  scifi
80        13    95  21.3   50.4  2116  2116    37.0  scifi
85         9   156  20.0   66.5  2503  2503    93.0  scifi
91        10   201  55.1  254.2  3024  3184    94.0  scifi
105        5   112  23.1   55.7  2972  2972    96.0  scifi
113        5    71  16.4   39.0  2816  2816    82.0  scifi
119       10   139  27.2   76.1  3313  3313    87.0  scifi
153       13   183  34.8  178.5  2856  2910   292.0  scifi
158        9   262  66.8  433.1  2972  3128   493.5  scifi
187        8   136  26.8   64.9  3058  3105    94.0  scifi
202        4   111  26.4   73.2  2956  2956    95.0  scifi
203        9   172  23.1   95.4  2810  2669    50.0  scifi

## Now read all those files back into python and set the axis = 0 in pd.concat

In [143]:
li = []
for i in unique: 
    file_name = "Movie_Type_" + str(i) + "_.csv"
    df = pd.read_csv(file_name)
    li.append(df)
df2= pd.concat(li, axis = 0)
print(df2)

    Unnamed: 0  Ranking  Time   TOW     GT    OT    MT  Amount    Type
0            0        7   156   8.8   29.3  1241  1607     NaN  comedy
1            3        8    86  10.6   29.5  1838  1891     NaN  comedy
2            6        8   157  13.5   44.0  2017  2063     NaN  comedy
3            8        9   153  15.0   39.6  2172  2193     NaN  comedy
4           19       10   133  18.5   75.7  1464  1801     NaN  comedy
..         ...      ...   ...   ...    ...   ...   ...     ...     ...
11         153       13   183  34.8  178.5  2856  2910   292.0   scifi
12         158        9   262  66.8  433.1  2972  3128   493.5   scifi
13         187        8   136  26.8   64.9  3058  3105    94.0   scifi
14         202        4   111  26.4   73.2  2956  2956    95.0   scifi
15         203        9   172  23.1   95.4  2810  2669    50.0   scifi

[217 rows x 9 columns]

## 4 Subset the moviedata as d1 where variables TOW ≥10 and GT ≤41

In [145]:
d1 = df.loc[(df["TOW"] >= 10) & (df["GT"] <= 41)].copy()
d1.head(10)

   Unnamed: 0  Ranking  Time   TOW    GT    OT    MT  Amount   Type
9         113        5    71  16.4  39.0  2816  2816    82.0  scifi

## Sort the ‘moviedata’ by ‘Type’ variable and denote it as d2.